/* a { text-decoration: overline;  background-color: yellow !important;} 
a:hover { text-decoration: underline; background-color: yellow;}
a.toctree-12 { background-color: yellow;} */
.section ul { list-style: none !important; margin-left: 80px; margin-top:-3em;}
.section li { list-style: none !important}
.toctree-l2 a {margin-left: 0em;}
.toctree-l3 {margin-left: 2em;}
.hljs {background: #000000;}

code {background: #eeffcc; }
h1 {font-size: 150%;}
h2 {font-size: 125%;}

.hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-deletion {
  color: #ff0000;
}

.hljs-comment{
    color:#992A96;
    font-style: normal;
}


