/* a { text-decoration: overline;  background-color: yellow !important;} 
a:hover { text-decoration: underline; background-color: yellow;}
a.toctree-12 { background-color: yellow;} */
.section ul { list-style: none !important; margin-left: 80px; margin-top:-3em;}
.section li { list-style: none !important}
.toctree-l2 a {margin-left: 0em;}
.toctree-l3 {margin-left: 2em;}
.hljs {background: #000000;
        color: white; border-top:  none}

code {    background: #e7f2fa;    color: #2980B9;  font-weight: bold;  border-top: solid 3px #6ab0de; margin: 6px 0; padding: 6px;}
h1 {font-size: 150%;}
h2 {font-size: 10%; visibility:hidden;}
h3 {font-size: 100%}

blockquote{background: #ffedcc; border-top: solid 3px #f0b37e; margin-right: 24px;}

.hljs-string {
  color: #59cc33;
}

.hljs-comment{
    color:#9933cc;
    font-style: normal;
}

.hljs-keyword{
    color:#cc681f
}

.hljs-number{
    color:#91cea8
}


